.output {
  display: none;
}

.do {
  cursor: pointer;
  color: #0088cc;
  list-style-type: none;
  margin-top: 1em;
}

.complete {
  color: black;
  list-style-type: none;
}

.edit {
  display: none;
}
